*.secrets filter=git-crypt diff=git-crypt
*.pem filter=git-crypt diff=git-crypt
*.ppk filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.crt filter=git-crypt diff=git-crypt
*.csr filter=git-crypt diff=git-crypt
*.chain filter=git-crypt diff=git-crypt
*.private filter=git-crypt diff=git-crypt
secrets/** filter=git-crypt diff=git-crypt